# Caso for utilizar o H2, utilize as configurações abaixo:
# SPRING_DATASOURCE_URL=jdbc:h2:mem:DB_MOTTU
# SPRING_DATASOURCE_DRIVER=org.h2.Driver
# Se for usar o Oracle, utilize as configurações abaixo:
# SPRING_DATASOURCE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
# SPRING_DATASOURCE_DRIVER=oracle.jdbc.OracleDriver

SPRING_DATASOURCE_URL=jdbc:h2:mem:DB_MOTTU
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER=org.h2.Driver